<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/da4cec6e-33d3-4850-8ef1-2981d54f9122/resourceGroups/Costuras-Cris/providers/Microsoft.ApiManagement/service/CosturasCrisApiapi/apis/CosturasCrisApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/da4cec6e-33d3-4850-8ef1-2981d54f9122/resourceGroups/Costuras-Cris/providers/Microsoft.Web/sites/apicosturasCris</ResourceId>
    <ResourceGroup>Costuras-Cris</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://apicosturascris.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>09a02bc9-8582-4beb-9658-b3033850a28c</ProjectGuid>
    <PublishUrl>https://apicosturascris.scm.azurewebsites.net/</PublishUrl>
    <UserName>$apicosturasCris</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>